::ng-deep .maplibregl-canvas-container {
  width: 100% !important;
  height: 70vh !important;
}

::ng-deep .maplibregl-ctrl-attrib-button {
  display: none !important;
}

::ng-deep .maplibregl-ctrl-attrib-inner {
  display: none !important;
}
