<!-- <mgl-map
  [style]="'https://api.maptiler.com/maps/streets/style.json?key=get_your_own_OpIi9ZULNHzrESv6T2vL'"
  [zoom]="[8]"
  [center]="center"
  [cursorStyle]="cursorStyle"
  (mapDragStart)="cursorStyle = 'grabbing'"
  (mapDragEnd)="cursorStyle = 'grab'"
  (mapIdle)="cursorStyle = 'grab'"
  (mapLoad)="map = $event"
  [canvasContextAttributes]="{ preserveDrawingBuffer: true }"
  (mapClick)="addPoint($event)"
>
  <mgl-geojson-source id="symbols-source" [data]="data"></mgl-geojson-source>

<mgl-layer
  id="symbols"
  type="circle"
  source="symbols-source"
  [paint]="{
    'circle-radius': 5,
    'circle-color': '#FF5252',
    'circle-stroke-width': 3,
    'circle-stroke-color': '#FFFFFF'
  }"
  (layerClick)="centerMapTo($event)"
  (layerMouseEnter)="cursorStyle = 'pointer'"
  (layerMouseLeave)="cursorStyle = ''"
>
</mgl-layer>
</mgl-map> -->

<mgl-map
  [style]="'https://api.maptiler.com/maps/streets/style.json?key=get_your_own_OpIi9ZULNHzrESv6T2vL'"
  [zoom]="[8]"
  [center]="center"
  [cursorStyle]="cursorStyle"
  (mapDragStart)="cursorStyle = 'grabbing'"
  (mapDragEnd)="cursorStyle = 'grab'"
  (mapIdle)="cursorStyle = 'grab'"
  (mapLoad)="onMapLoad($event)"
  [canvasContextAttributes]="{ preserveDrawingBuffer: true }"
  (mapClick)="addPoint($event)"
>
  <mgl-geojson-source id="symbols-source" [data]="data"></mgl-geojson-source>

  <mgl-layer
    id="symbols"
    type="symbol"
    source="symbols-source"
    [layout]="{
      'icon-image': 'custom-pin',
      'icon-size': 1,
      'icon-anchor': 'bottom',
      'icon-allow-overlap': true
    }"
    (layerClick)="centerMapTo($event)"
    (layerMouseEnter)="cursorStyle = 'pointer'"
    (layerMouseLeave)="cursorStyle = ''"
  >
  </mgl-layer>
</mgl-map>
